In [1]:
def getOriginalClass(valueMain,valueSec):
  valueMain = str(valueMain)
  valueSec = str(valueSec)

  dicClass = {
    '1':'Water',
    '2':'Ice/snow',
    '3':'Developed',
    '4':'Soil',
    '5':'Rock',
    '6':'Beach/sand',
    '7':'Deciduous',
    '8':'Evergreen',
    '9':'Mixed',
    '10':'Shrub',
    '11':'Grassland',
    '12':'Agriculture',
    '13':'Moss/lichen'
  }
  dicClassSec = {
      '4':'Barren/sparsely vegetated',
      '5':'Trees',
      '7':'Herbaceous'
  }
  if valueMain == '0':
    cls = dicClassSec[valueSec]
  else:
    cls = dicClass[valueMain]

  return cls

def getClassGPW(value):
  dicClass = {
    'Water':['Other land cover',0],
    'Ice/snow':['Other land cover',0],
    'Developed':['Other land cover',0],
    'Soil':['Other land cover',1],
    'Rock':['Other land cover',1],
    'Beach/sand':['Other land cover',1],
    'Deciduous':['Other land cover',1],
    'Evergreen':['Other land cover',1],
    'Mixed':['Other land cover',1],
    'Shrub':['Natural and Semi-natural grassland',2],
    'Grassland':['Cultivated grassland',3],
    'Agriculture':['Crops and other related agricultural practices',2],
    'Moss/lichen':['Natural and Semi-natural grassland',1],
    'Barren/sparsely vegetated':['Other land cover',1],
    'Trees':['Other land cover',1],
    'Herbaceous':['Not classified',0]
  }
  return dicClass[value]

def processingCluster(data,outfolder):
    chunk_size = int(data.shape[0] / 5)
    part = 1
    countyear = str(data.count_year_class.unique()[0])
    
    for start in range(0, data.shape[0], chunk_size):
        print(start,start + chunk_size)
        df_subset = data.iloc[start:start + chunk_size]
        dicrows = []
        
        for i in range(df_subset.shape[0]):
            dados = df_subset.iloc[i]
            for j in range(0,dados.count_year_class):
                rfyear = dados.Start_Year + j
                row = np.array(dados.values)
                row = np.append(row,rfyear)
                dicrows.append(row)
        
                       
        cols = list(df_subset.columns)
        cols.append('reference_year')
        
        a = gpd.GeoDataFrame(columns=cols,data=dicrows)           
        a.to_parquet(outfolder+'glance_countyear_'+countyear+'_part_'+str(part)+'.parquet')
        
        a = None
        part = part + 1

In [2]:
#Import modules python
import geopandas as gpd
import pandas as pd
import numpy as np
import duckdb
import warnings
warnings.filterwarnings('ignore')

In [36]:
src = 'https://beta.source.coop/boston-university/bu-glance/bu_glance_training_dataV1.parquet'
gdf = gpd.read_parquet(src)
gdf.head(5)

,Lat,Lon,Start_Year,End_Year,Dataset_Code,Continent_Code,LC_Confidence,Segment_Type,Leaf_Type,Impervious_Percent,...,Tree_Location,Veg_Modifier,Level1_Ecoregion,Level2_Ecoregion,Glance_Class_ID_level1,Glance_Class_ID_level2,Change,ID,Glance_ID,geometry
0,1.414980,-71.083640,1985,2018,5,2,NaN,NaN,NaN,NaN,...,NaN,None,7,7_00,5,0,False,0,02_7_00_5_0_1985_2018,POINT (-71.08364 1.41498)
1,1.972296,-70.944320,1985,2018,5,2,NaN,NaN,NaN,NaN,...,NaN,None,7,7_00,5,0,False,1,02_7_00_5_1_1985_2018,POINT (-70.94432 1.97230)
2,2.097071,-73.839766,1985,2018,5,2,NaN,NaN,NaN,NaN,...,NaN,None,7,7_00,7,11,False,2,02_7_00_5_2_1985_2018,POINT (-73.83977 2.09707)
3,1.205852,-71.773552,1986,2018,5,2,NaN,NaN,NaN,NaN,...,NaN,None,7,7_00,1,1,False,3,02_7_00_5_3_1986_2018,POINT (-71.77355 1.20585)
4,1.205852,-71.775171,1986,2018,5,2,NaN,NaN,NaN,NaN,...,NaN,None,7,7_00,1,1,False,4,02_7_00_5_4_1986_2018,POINT (-71.77517 1.20585)

In [4]:
gdfDev = gdf.copy()
gdfDev['count_year_class'] = gdfDev.apply(lambda x: (x.End_Year - x.Start_Year) + 1,axis=1)
gdfDev = gdfDev[['Glance_ID','Start_Year','End_Year','count_year_class','Glance_Class_ID_level1','Glance_Class_ID_level2','geometry']]
gdfDev['dataset_name'] = 'GLanCE'
gdfDev['original_lulc_class'] = gdfDev.apply(lambda x: getOriginalClass(x.Glance_Class_ID_level2,x.Glance_Class_ID_level1),axis=1)
gdfDev['gpw_lulc_class'] = gdfDev['original_lulc_class'].apply(lambda x: getClassGPW(x)[0])
gdfDev['sample_weight'] = gdfDev['original_lulc_class'].apply(lambda x: getClassGPW(x)[1])
gdfDev['observation'] = ''

gdfDev

,Glance_ID,Start_Year,End_Year,count_year_class,Glance_Class_ID_level1,Glance_Class_ID_level2,geometry,dataset_name,original_lulc_class,gpw_lulc_class,sample_weight,observation
0,02_7_00_5_0_1985_2018,1985,2018,34,5,0,POINT (-71.08364 1.41498),GLanCE,Trees,Other,1,
1,02_7_00_5_1_1985_2018,1985,2018,34,5,0,POINT (-70.94432 1.97230),GLanCE,Trees,Other,1,
2,02_7_00_5_2_1985_2018,1985,2018,34,7,11,POINT (-73.83977 2.09707),GLanCE,Grassland,Seeded grass,3,
3,02_7_00_5_3_1986_2018,1986,2018,33,1,1,POINT (-71.77355 1.20585),GLanCE,Water,Other,0,
4,02_7_00_5_4_1986_2018,1986,2018,33,1,1,POINT (-71.77517 1.20585),GLanCE,Water,Other,0,
...,...,...,...,...,...,...,...,...,...,...,...,...
1874990,04_1_00_902_1641504_2018_2018,2018,2018,1,7,11,POINT (10.39194 46.91158),GLanCE,Grassland,Seeded grass,3,
1874991,04_1_00_902_1641505_2018_2018,2018,2018,1,7,11,POINT (9.47924 46.41012),GLanCE,Grassland,Seeded grass,3,
1874992,04_1_00_902_1641506_2018_2018,2018,2018,1,7,11,POINT (9.68595 46.42142),GLanCE,Grassland,Seeded grass,3,
1874993,04_1_00_902_1641507_2018_2018,2018,2018,1,7,11,POINT (9.95190 46.89072),GLanCE,Grassland,Seeded grass,3,
1874994,04_1_00_902_1641508_2018_2018,2018,2018,1,7,11,POINT (11.25587 47.15461),GLanCE,Grassland,Seeded grass,3,

In [5]:
a = gdfDev.count_year_class.value_counts()* gdfDev.count_year_class.value_counts().index
a.sum()

31061694

In [10]:
c1 = gdfDev[gdfDev.count_year_class == 1]
c1.reset_index(inplace=True)
c1['reference_year'] = c1.End_Year
c1.to_parquet('../datasets/12_Glance/cluster2/glance_c1.parquet')

In [11]:
cgt1 = gdfDev[gdfDev.count_year_class > 1]
cgt1.reset_index(inplace=True)
listyears = np.sort(cgt1.count_year_class.unique())

In [12]:
for i in listyears:
    processingCluster(cgt1[cgt1.count_year_class==i],'../datasets/12_Glance/cluster2/')

0 180
180 360
360 540
540 720
720 900
900 1080
0 285
285 570
570 855
855 1140
1140 1425
0 391
391 782
782 1173
1173 1564
1564 1955
1955 2346
0 462
462 924
924 1386
1386 1848
1848 2310
0 467
467 934
934 1401
1401 1868
1868 2335
0 385
385 770
770 1155
1155 1540
1540 1925
1925 2310
0 392
392 784
784 1176
1176 1568
1568 1960
0 334
334 668
668 1002
1002 1336
1336 1670
1670 2004
0 311
311 622
622 933
933 1244
1244 1555
0 324
324 648
648 972
972 1296
1296 1620
1620 1944
0 302
302 604
604 906
906 1208
1208 1510
0 301
301 602
602 903
903 1204
1204 1505
1505 1806
0 307
307 614
614 921
921 1228
1228 1535
0 360
360 720
720 1080
1080 1440
1440 1800
1800 2160
0 339
339 678
678 1017
1017 1356
1356 1695
1695 2034
0 473
473 946
946 1419
1419 1892
1892 2365
2365 2838
0 328
328 656
656 984
984 1312
1312 1640
1640 1968
0 1726
1726 3452
3452 5178
5178 6904
6904 8630
0 5558
5558 11116
11116 16674
16674 22232
22232 27790
27790 33348
0 1112
1112 2224
2224 3336
3336 4448
4448 5560
5560 6672
0 3861
3861 7722
7722 11583
11583 15444
15444 19305
19305 23166
0 618
618 1236
1236 1854
1854 2472
2472 3090
3090 3708
0 197
197 394
394 591
591 788
788 985
985 1182
0 829
829 1658
1658 2487
2487 3316
3316 4145
0 456
456 912
912 1368
1368 1824
1824 2280
2280 2736
0 522
522 1044
1044 1566
1566 2088
2088 2610
0 393
393 786
786 1179
1179 1572
1572 1965
1965 2358
0 1863
1863 3726
3726 5589
5589 7452
7452 9315
9315 11178
0 911
911 1822
1822 2733
2733 3644
3644 4555
4555 5466
0 5265
5265 10530
10530 15795
15795 21060
21060 26325
26325 31590
0 1949
1949 3898
3898 5847
5847 7796
7796 9745
0 5814
5814 11628
11628 17442
17442 23256
23256 29070
29070 34884
0 24888
24888 49776
49776 74664
74664 99552
99552 124440
0 41875
41875 83750
83750 125625
125625 167500
167500 209375
209375 251250
0 78326
78326 156652
156652 234978
234978 313304
313304 391630
391630 469956

In [30]:
import duckdb as db

conn = db.connect("SET memory_limit='24GB'")
conn.install_extension('spatial')
conn.load_extension('spatial')

In [14]:
conn.sql("SELECT * FROM 'D:/LAPIG/Doutorado/Global_Pasture_Watch/datasets/12_Glance/cluster2/*.parquet'").show()

┌────────┬──────────────────────┬────────────┬──────────┬───┬───────────────┬─────────────┬────────────────┐
│ index  │      Glance_ID       │ Start_Year │ End_Year │ … │ sample_weight │ observation │ reference_year │
│ int64  │       varchar        │   int64    │  int64   │   │     int64     │   varchar   │     int64      │
├────────┼──────────────────────┼────────────┼──────────┼───┼───────────────┼─────────────┼────────────────┤
│  28793 │ 02_30_00_701_28793…  │       2012 │     2012 │ … │             1 │             │           2012 │
│  28809 │ 02_30_00_701_28808…  │       2006 │     2006 │ … │             0 │             │           2006 │
│  28813 │ 02_29_00_701_28812…  │       2010 │     2010 │ … │             0 │             │           2010 │
│  28814 │ 02_29_00_701_28813…  │       2010 │     2010 │ … │             1 │             │           2010 │
│  28818 │ 02_30_00_701_28817…  │       2007 │     2007 │ … │             1 │             │           2007 │
│  28819 │ 02_30_00_701_28818…  │       2004 │     2004 │ … │             0 │             │           2004 │
│  28821 │ 02_29_00_701_28820…  │       2002 │     2002 │ … │             1 │             │           2002 │
│  28833 │ 02_7_00_999_28832_…  │       2015 │     2015 │ … │             0 │             │           2015 │
│  28834 │ 02_7_00_999_28833_…  │       2015 │     2015 │ … │             0 │             │           2015 │
│  28835 │ 02_7_00_999_28834_…  │       2015 │     2015 │ … │             0 │             │           2015 │
│    ·   │          ·           │         ·  │       ·  │ · │             · │      ·      │             ·  │
│    ·   │          ·           │         ·  │       ·  │ · │             · │      ·      │             ·  │
│    ·   │          ·           │         ·  │       ·  │ · │             · │      ·      │             ·  │
│ 272668 │ 02_9_00_705_266952…  │       2015 │     2015 │ … │             0 │             │           2015 │
│ 272669 │ 02_5_00_705_266953…  │       2015 │     2015 │ … │             0 │             │           2015 │
│ 272670 │ 02_10_00_705_26695…  │       2015 │     2015 │ … │             0 │             │           2015 │
│ 272671 │ 02_8_00_705_266955…  │       2015 │     2015 │ … │             0 │             │           2015 │
│ 272672 │ 02_5_00_705_266956…  │       2015 │     2015 │ … │             0 │             │           2015 │
│ 272673 │ 02_2_00_705_266957…  │       2015 │     2015 │ … │             0 │             │           2015 │
│ 272674 │ 02_2_00_705_266958…  │       2015 │     2015 │ … │             0 │             │           2015 │
│ 272675 │ 02_2_00_705_266959…  │       2015 │     2015 │ … │             0 │             │           2015 │
│ 272676 │ 02_1_00_705_266960…  │       2015 │     2015 │ … │             0 │             │           2015 │
│ 272677 │ 02_4_00_705_266961…  │       2015 │     2015 │ … │             0 │             │           2015 │
├────────┴──────────────────────┴────────────┴──────────┴───┴───────────────┴─────────────┴────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                       14 columns (7 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [15]:
conn.sql("SELECT count(*) FROM 'D:/LAPIG/Doutorado/Global_Pasture_Watch/datasets/12_Glance/cluster2/*.parquet'").show()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│     31061694 │
└──────────────┘

In [16]:
conn.sql("DESCRIBE FROM 'D:/LAPIG/Doutorado/Global_Pasture_Watch/datasets/12_Glance/cluster2/*.parquet'").show()

┌────────────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│      column_name       │ column_type │  null   │   key   │ default │  extra  │
│        varchar         │   varchar   │ varchar │ varchar │ varchar │ varchar │
├────────────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ index                  │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Glance_ID              │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ Start_Year             │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ End_Year               │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ count_year_class       │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Glance_Class_ID_level1 │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ Glance_Class_ID_level2 │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ geometry               │ BLOB        │ YES     │ NULL    │ NULL    │ NULL    │
│ dataset_name           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ original_lulc_class    │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ gpw_lulc_class         │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ sample_weight          │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
│ observation            │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ reference_year         │ BIGINT      │ YES     │ NULL    │ NULL    │ NULL    │
├────────────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 14 rows                                                            6 columns │
└──────────────────────────────────────────────────────────────────────────────┘

In [17]:
sql = '''
    SELECT dataset_name, reference_year, original_lulc_class, gpw_lulc_class, sample_weight, Glance_ID as observation
    FROM 'D:/LAPIG/Doutorado/Global_Pasture_Watch/datasets/12_Glance/cluster2/*.parquet'
'''
conn.sql(sql).show()

┌──────────────┬────────────────┬─────────────────────┬────────────────┬───────────────┬───────────────────────────────┐
│ dataset_name │ reference_year │ original_lulc_class │ gpw_lulc_class │ sample_weight │          observation          │
│   varchar    │     int64      │       varchar       │    varchar     │     int64     │            varchar            │
├──────────────┼────────────────┼─────────────────────┼────────────────┼───────────────┼───────────────────────────────┤
│ GLanCE       │           2012 │ Trees               │ Other          │             1 │ 02_30_00_701_28793_2012_2012  │
│ GLanCE       │           2006 │ Herbaceous          │ Not classified │             0 │ 02_30_00_701_28808_2006_2006  │
│ GLanCE       │           2010 │ Herbaceous          │ Not classified │             0 │ 02_29_00_701_28812_2010_2010  │
│ GLanCE       │           2010 │ Trees               │ Other          │             1 │ 02_29_00_701_28813_2010_2010  │
│ GLanCE       │           2007 │ Trees               │ Other          │             1 │ 02_30_00_701_28817_2007_2007  │
│ GLanCE       │           2004 │ Herbaceous          │ Not classified │             0 │ 02_30_00_701_28818_2004_2004  │
│ GLanCE       │           2002 │ Trees               │ Other          │             1 │ 02_29_00_701_28820_2002_2002  │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_7_00_999_28832_2015_2015   │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_7_00_999_28833_2015_2015   │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_7_00_999_28834_2015_2015   │
│   ·          │             ·  │   ·                 │   ·            │             · │              ·                │
│   ·          │             ·  │   ·                 │   ·            │             · │              ·                │
│   ·          │             ·  │   ·                 │   ·            │             · │              ·                │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_9_00_705_266952_2015_2015  │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_5_00_705_266953_2015_2015  │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_10_00_705_266954_2015_2015 │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_8_00_705_266955_2015_2015  │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_5_00_705_266956_2015_2015  │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_2_00_705_266957_2015_2015  │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_2_00_705_266958_2015_2015  │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_2_00_705_266959_2015_2015  │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_1_00_705_266960_2015_2015  │
│ GLanCE       │           2015 │ Water               │ Other          │             0 │ 02_4_00_705_266961_2015_2015  │
├──────────────┴────────────────┴─────────────────────┴────────────────┴───────────────┴───────────────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                              6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [18]:
sql = '''
    SELECT gpw_lulc_class,count(*) as total
    FROM 'D:/LAPIG/Doutorado/Global_Pasture_Watch/datasets/12_Glance/cluster2/*.parquet'
    GROUP BY gpw_lulc_class
    ORDER BY total
'''
conn.sql(sql).show()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

┌────────────────────────────────────────────────┬──────────┐
│                 gpw_lulc_class                 │  total   │
│                    varchar                     │  int64   │
├────────────────────────────────────────────────┼──────────┤
│ Natural and Semi-natural grass                 │   254371 │
│ Crops and other related agricultural practices │   761860 │
│ Not classified                                 │  3019394 │
│ Seeded grass                                   │  4312764 │
│ Other                                          │ 22713305 │
└────────────────────────────────────────────────┴──────────┘

In [31]:
sql = '''
    COPY (
        SELECT geometry,dataset_name, reference_year, original_lulc_class, gpw_lulc_class, sample_weight, Glance_ID as observation
        FROM 'D:/LAPIG/Doutorado/Global_Pasture_Watch/datasets/12_Glance/cluster2/*.parquet'
    ) TO 'D:/LAPIG/Doutorado/Global_Pasture_Watch/datasets/harmonized_databases/parquet/from_datasets/12_db_glance_v02.parquet' (FORMAT PARQUET)
'''
conn.execute(sql)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))